# dependencies
**/node_modules/

# builds
**/dist/
**/.vite/

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# env
**/.env
**/.env.*

# database (local)
**/*.db

# OS
.DS_Store

survey-backend/public
